* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* navbar style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 10px;
  background-color: aliceblue;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #007bff;
}

/* book card style */

.bookContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.bookCard {
  background-color: white;
  position: relative;
  width: auto;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
.bookCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.bookCard img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 16px;
}

.bookCard h3 {
  font-size: 1.2rem;
  margin: 8px 0;
}

.bookCard p {
  font-size: 1rem;
  color: #333;
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 128, 0, 0.5);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  font-size: 24px;
  height: 30px;
  width: 30px;
  color: rgb(207, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-btn.wishlisted {
  color: rgb(5, 255, 126);
}

.wishlist-btn:hover {
  background-color: blueviolet;
}
.wishlist-btn:active {
  background-color: orange;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button,
.pagination span {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.active {
  background-color: #28a745;
}

.pagination span {
  background-color: transparent;
  color: black;
  cursor: default;
  padding: 10px 0;
}
